<html>
    <head>
        <title>Aprendendo Django</title>
    </head>
    <body>
        <div>
            <h1><a href="">Apresentando dados:</a></h1>
        </div>
        <div>
            {% for post in posts %}
                <div>
                    <p>published: {{ post.published_date }}</p>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
            <!--https://tutorial.djangogirls.org/pt/django_templates/-->
        </div>
    </body>
</html>